<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.SearchDao">
	<select id="getList" resultType="com.web.entities.Site">
		select * from site 
         where search LIKE '%'+#{query}+'%' or NAME LIKE '%'+#{query}+'%' or ADDRESS LIKE '%'+#{query}+'%' or CATEGORY LIKE '%'+#{query}+'%'
	</select>
</mapper>