@CHARSET "UTF-8";
.main {
    margin: auto;
    padding-top: 100px;
}

body .td {
    text-align: center;
    border-bottom: none;
}
main .tr{
	 
}

main .td:FIRST-CHILD+td{
	border-bottom: 2px solid #979797;
}

main .tr:FIRST-CHILD > td:FIRST-CHILD{
	text-align: right;
	padding-right: 10px;
	font-size: 20px;
	font-weight: bold;
}
main .tr:FIRST-CHILD+tr > td:FIRST-CHILD{
	text-align: right;
	padding-right: 10px;
	font-size: 20px;
	font-weight: bold;
}
main .tr:FIRST-CHILD+tr > td:FIRST-CHILD+td+td{
	text-align: right;
	padding-right: 10px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid #979797;
}

main .tr:FIRST-CHILD+tr > td:FIRST-CHILD+td+td+td{
    text-align: left;
    padding-left: 30px;
    border-bottom: 2px solid #979797;
}

main .detail-table {
	height: 700px;
	margin: auto;
	text-align: center;
}

main .tr:LAST-CHILD{
	height: 500px;
	background: url("../../../images/table-right-bar.png") no-repeat right center;
}
main .tr:LAST-CHILD > .td{
	background-image: none;
}
/* ----------------------------prev-next----------------------------- */
main .prev-next{
	text-align: right;
}
main .prev-next a{
	color: #000;
	text-decoration: none;
}
/* ----------------------------detail-option----------------------------- */
main .detail-option{
	text-align: right;
}
main .detail-option a{
	color: #000;
	text-decoration: none;
}