@CHARSET "UTF-8";
#visual{
	position:absolute;
	top:0;left:0;
	height:300px;
	width:100%;
}
/*문구 '나에게정말필요한 사이트를 검색해보세요*/
#main-text{
	position:absolute;
	left:calc(50% - 268px);
	bottom:60px;
}
#main-text p{
	font-family: 'Nanum Gothic', sans-serif;
	font-size:28px;
	line-height:28px;
	color:#d8d8d8;
}
/*검색창*/
#search-form{
	position:absolute;
	left:calc(50% - 150px);
	bottom:20px;
}
input[type=text]{
	border:none;
	background:rgba(161,161,161,0.6);
	height:30px;
	font-size:12px;
	color:#e6e6e6;
	padding-left: 10px;
	
}