@CHARSET "UTF-8";
#visual{
   background:url("../../../images/search-detail-visual.png") no-repeat center;
}
/* -------------------------search----------------------- */
#body .filter{
	padding-left: 40px;
	padding-top: 20px;
	
}

#search-category{
	width:inherit;
	height:80px;
	margin-top:20px;
}
/* #search-category ul li{
	float:left;
	font-size:20px;
	line-height:20px;
	
	width:190px;
	margin-left:30px;
} */
#search-category .category{
	background:url("../../../images/bg-main-category.png")no-repeat center;
	background-size:100% 100%;
	float:left;
	width:190px;
	height:inherit;
	margin-left:40px;
}
#search-category .category a {
	text-decoration:none;
	display:block;
	text-align:center;
	font-size:20px;
	line-height:20px;
	margin-top:30px;
	color:#979797;
}
#search-category .category a:hover {
	color:black;
}

/* -------------------------search-detail----------------------- */

.detail-container{
   width:930px;
   height:10px;
   font-size:14px;
   margin-top:10px;
   margin-left:30px;
}

.detail-container .detail-head{
   font-size:15px;
   margin-top:10px;
   margin-bottom:10px;
   color:black;
}
.detail-body{
	color:rgb(161,161,161);
}
.list-container{
   float:left;
   width:450px;
   height:200px;
   margin-top:10px;
   margin-left:20px;
   background:url("../../../images/ex.png") no-repeat center; 
   /* background:url("../../../images/bg-content.png") no-repeat center; */
   background-size:contain;
   position:relative;
}
.list-container:HOVER{
   background:url("../../../images/ex2.png") no-repeat center; 
}
.detail-container-first{
	display:inline;
}
.list-container .list-content-title{
   margin-left:40px;
   margin-top:30px;
   font-size:23px; 
   color:black;
   line-height:23px;
}
.list-container .list-content-title .site-nick{
	color: #000;
	text-decoration: none;
}

.list-container .list-content-title .site-nick:HOVER{
	color: #4C4C4C;
	text-decoration: underline;
}



.list-container .list-content-review{
   margin-left:40px;
   margin-top:62px;
   font-size:13px; 
   line-height:20px;
   width:210px;
   height:80px;
}
.list-container .list-content-review .list-content-review-li{
   font-size:13px; 
   line-height:20px;
   color:rgb(161,161,161);
}
.list-content-review-li{
	margin-left: 10px;
}
.list-content-address{
   position:absolute;   
   top:74px;
   left:38px;
   font-size:12px;
   color:rgb(161,161,161);
}
.list-content-address a{
   text-decoration: none;
   color:rgb(161,161,161);
}
.list-container .list-content-bookmark{
   position:absolute;
   top:134px;
   left:277px;
   font-size:12px; 
   line-height:18px;
}
.list-container .list-content-bookmark .list-content-bookmark-li{
   display:inline;
   font-size:12px; 
   line-height:18px;
   color:rgb(161,161,161);
}
.list-container .list-content-bookmark ul li{
   float:left;
   padding-left:2px;
   padding-right:2px;
}

